.container{
    background-color: var(--header-color);
    height:130px;
    display:flex;
    flex-direction: row;
    justify-content: end;

}
.container button{
    width: 100px;
    height: 50px;
    background-color:var(--button) ;
    margin-right: 200px;
    margin-top: 20px;
}
.container button:hover{
    background-color:var(--button-light) 
}