* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color-light);
  --header-color:rgba(133, 182, 185, 0.908);
  --primary-color-light: rgba(133, 182, 185, 0.188);
  --user-card-color:rgba(157, 141, 141, 0.469);
  --animal:rgba(83, 88, 94, 0.252);
  --plant:rgba(208, 231, 198, 0.679);
  --about: rgba(177, 133, 185, 0.296);
  --button:rgba(176, 178, 142, 0.726);
  --button-light:rgba(185, 166, 133, 0.829);
  --navbar:rgba(154, 133, 185, 0.646);
  color: #512e2e;

  font-family: "Roboto", sans-serif;

  /* --color-primary: rgba(133, 182, 185, 0.703);
    --color-secondary: rgba(157, 141, 141, 0.846);
    --color-secondary-light: rgba(234, 214, 235, 0.46);
    --tertiary-color: rgba(222, 235, 33, 0.176); */
  /*   
    --card: rgba(75, 86, 77, 0.351);
    --card-light: rgba(33, 235, 67, 0.114);
    --card-dark: rgb(33, 235, 67);
    --card-two: rgba(108, 108, 23, 0.345);
    --card-two-light: rgba(64, 89, 68, 0.033);
    --card-two-dark: rgba(54, 74, 57, 0.165);
    --card-three:rgba(180, 114, 141, 0.462);
  
    --button-color:rgba(221, 64, 200, 0.296);
    --button-hover-color:rgba(231, 198, 231, 0.546);
    --form:rgba(61, 53, 61, 0.112);
    --bird:rgba(156, 196, 239, 0.334); */
}
h1,
h2,
h3 {
  font-family: "Oswald", "Roboto", sans-serif;
}
