* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color-light);
  --home:rgba(99, 93, 107, 0.119);
  --login:rgba(133, 179, 185, 0.563);
  --header-color:rgba(133, 182, 185, 0.908);
  --primary-color-light: rgba(133, 182, 185, 0.188);
  --user-card-color:rgba(157, 141, 141, 0.469);
  --user-card-light-color:rgba(152, 97, 97, 0.294);
  --animal:rgba(83, 88, 94, 0.252);
  --plant:rgba(208, 231, 198, 0.679);
  --about: rgba(177, 133, 185, 0.296);
  --button:rgba(176, 178, 142, 0.726);
  --button-light:rgba(185, 166, 133, 0.829);
  --navbar:rgba(154, 133, 185, 0.646);
  --login:rgba(133, 179, 185, 0.563);
  color: #512e2e;

  font-family: "Roboto", sans-serif;

}
h1,
h2,
h3 {
  font-family: "Oswald", "Roboto", sans-serif;
}
