.container {
  background-color: var(--home);
  margin-left: 200px;
  /* height:600px; */
}
.container input {
  padding-left: 20px;
  height: 40px;
  width: 20%;
  margin-left: 20px;
}
.container button {
  padding-left: 20px;
  height: 40px;
  width: 20%;

  background-color: var(--button);
}
.container button:hover {
  background-color: var(--button-light);
}

.userCard {
  background-color: var(--user-card-color);
  width: 30%;
  height: 150px;
  padding-left: 80px;
  margin-left: 200px;
}
.userCard:hover {
  background-color: var(--user-card-light-color);
}
.tableViewH tr {
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 30px;
  background-color: rgba(135, 160, 160, 0.525);
}
.tableView tr {
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 30px;
    background-color: rgba(135, 160, 160, 0.138);
  }

